@media (min-width:1024px) {
    main.camperas-main{
        grid-template-columns: repeat(6,minmax(164.8px, 1fr));
        grid-template-rows: repeat(4, minmax(200px, 1fr));
    }
    .box-campera1{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .box-campera2{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .box-campera3{
        grid-column: 5/7;
        grid-row: 1/2;
    }
    .box-campera4{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .box-campera5{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .box-campera6{
        grid-column: 4/6;
        grid-row: 2/3;
    }
    .box-campera7 {
        grid-column: 6/7;
        grid-row: 2/3;
    }
    .box-campera8{
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .box-campera9{
        grid-column: 4/5;
        grid-row: 3/4;
    }
    .box-campera10{
        grid-column: 5/7;
        grid-row: 3/4;
    }
    .box-campera11{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .box-campera12{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .box-campera13{
        grid-column: 4/6;
        grid-row: 4/5;
    }
    .box-campera14{
        grid-column: 6/7;
        grid-row: 4/5;
    }
}