@media (min-width:768px){
    .info-foto_index{
        top: 50%;
    }
    .titulo-foto_index{
        margin-bottom: 80px;
    }
    footer{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .div-logo_footer{
        justify-self: start;
    }
    .derechos-footer{
        justify-self: center;
        align-self: center;
    }
    .derechos-footer{
        justify-self: end;
    }
    .derechos-footer p{
        text-align: end;
    }
    /*Origen.html*/
    main.origen-main{
        display: flex;
        flex-direction: row;
    }
    .card{
        position: relative;
        width: 32%;
        height: 800px;
    }
    /*camperas.html*/
    main.camperas-main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, minmax(250px, 1fr));
    }
    .box-campera1{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .box-campera2{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .box-campera3{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .box-campera4{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .box-campera5{
        grid-column: 2/4;
        grid-row: 3/4;
    }
    .box-campera6{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .box-campera7 {
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .box-campera8{
        grid-column: 1/4;
        grid-row: 5/6;
    }
    .box-campera9{
        grid-column: 1/3;
        grid-row: 6/7;
    }
    .box-campera10{
        grid-column: 3/4;
        grid-row: 6/7;
    }
    .box-campera11{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .box-campera12{
        grid-column: 2/4;
        grid-row: 7/8;
    }
    .box-campera13{
        grid-column: 1/3;
        grid-row: 8/9;
    }
    .box-campera14{
        grid-column: 3/4;
        grid-row: 8/9;
    }
    /*talles.html*/
    .camperas-img{
        display: flex;
    }
    img.campera-guia{
        width: 40%;
        display: block;
        margin: 50px auto;
    }
    h3.guia-title{
        bottom: 98%;
        left: 15%;
    }
    .tabla-guia{
        margin: 50px 20%;
    }
    p.guia-p{
        margin: 50px 10%;
    }
    p.cuidados-p{
        margin: 50px 10%;
        text-align: left;
    }
    ul.lista-cuidados{
        margin: 30px 10%;
    }
    /*preguntas.html*/
    h3{
        position: absolute;
        bottom: 90%;
        left: 10%;
    }
    div.pregunta{
        position: relative;
    }
    /*contacto.html*/
    form{
        grid-template-columns: repeat(4, minmax(135px, 1fr));
        grid-template-rows: repeat(9, 50px);
        padding: 30px 35px;
    } 
    div.name{
        grid-column: 1/3;
    } 
    div.email{
        grid-column: 3/5;
    }
    div.msg{
        grid-column: 1/5;
        grid-row: 3/9;
    } 
    button{
        grid-column: 4/5;
        grid-row: 9/10;
    }
    div.info{
        position: relative;
    }
    ul.lista-horario{
        text-align: left;
        padding-top: 45px;
        border-top: 0.6px solid #000000;
    } 
    p.direccion{
        text-align: left;
        padding-top: 45px;
        border-top: 0.6px solid #000000;
    }
}
