* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /*1 rem = 10px*/
    font-family: 'Poppins', sans-serif;
}
h2{
    font-weight: normal;
    font-size: 3.5rem;
    letter-spacing: .1em;
    line-height: 42.46px;
    text-transform: uppercase;
    text-align: center;
}
h3{ 
    margin:  0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .25em;
    color: #ffffff;
    background-color: #000000;
}
h3.h3-rojo{
    background-color:#E30606;
}
h5{
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: .1em;
    text-align: center;
}
p{
    font-size: 2rem;
    line-height: 26px; 
}
main.container-main{
    width: 85%;
    margin: 86px auto;
}
.logo-div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    margin-top: 20px;
    text-align: center;
}

a.link-logo img{
    width: 150px;
}
.linea-barra{
    border-color:#000000;
    margin: 20px 0;
}
nav.menu ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav.menu ul li{
    padding: 0 20px;
}
nav.menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.30em;
}
.foto-index{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(./assets/img/fotos/fondo.jpg);
    background-size: cover;
    background-position: top center;
}
.info-foto_index{
    position: absolute;
    top: 30%;
    height: auto;
    width: 100%;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.titulo-foto_index {
    margin-bottom: 80px;
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 42px;
}
.btn-comprar_index{
    padding: 15px 47px 15px 47px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 1.8rem;
    letter-spacing: 0.25em;
    text-decoration: none;
    color: #ffffff;
}
footer{
    background-color: #000000;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    margin-top: 20px;
}
.div-logo_footer{
    justify-self: center;
    align-self: center;
}
.div-logo_footer .link-logo_footer img{
    width: 150px;
}
.menu-footer{
    justify-self: center;
    align-self: center;
}
.menu-footer ul{
    list-style-type: none;
    text-align: center;
}
.menu-footer ul li a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    line-height: 11px;
}
.derechos-footer{
    justify-self: center;
    align-self: top;
}
.derechos-footer p{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
}

main.origen-main{
    display: flex;
    flex-direction: column;
}
.card{
    position: relative;
    /* para tabletas y dekstop 
    width: 483px;
    height: 550px;
    */
    width: 310px;
    height: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #C4C4C4;  
}
.card .card-content{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .8s ease-in-out;
}
.card:hover .card-content{
    visibility: visible;
    opacity: 1;
    position: absolute;
    cursor: default;
    bottom: 0;
    height: fit-content;
    padding: 35px 15px;
    background-color: #ffffff;
}
.card h2.card-title{
    width: max-content;
    padding: 4px;
    margin-bottom: 28px;
    font-size: 2.4rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #000000;
}
.card p.card-p{
    font-size: 2rem;
    line-height: 26px;
}
.card ul{
    list-style-type: none;
}
.card ul li{
    font-size: 2rem;
}

main.camperas-main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-template-rows: repeat(14, minmax(310px, 1fr));
    gap: 5px;
    margin: 5px;
}
main.camperas-main .box-campera{
    background-color: #C4C4C4;
}
/*Talles*/
.guia-talles{
    position: relative;
    margin-top: 86px;
    border: 0.6px solid #000000;
}
h3.guia-title{
    position: absolute;
    bottom: 99%;
    text-align: center;
}
img.campera-guia{
    width: 90%;
    display: block;
    margin: 50px auto;
}
.tabla-guia{
    display: grid;
    margin: 50px 30px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4, 1fr);
}
.s-talla h4,
.m-talla h4,
.l-talla h4,
.xl-talla h4,
.ancho h4,
.largo h4,
.manga h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: .15em;
    background-color: #000000;
    color: #ffffff;
}
.x h4{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
}
.invisible{
    grid-column: 1/2;
    grid-row: 1/2;
}
.s-talla{
    grid-column: 2/3;
    grid-row: 1/2;
}
.m-talla{
    grid-column: 3/4;
    grid-row: 1/2;
}
.l-talla{
    grid-column: 4/5;
    grid-row: 1/2;
}
.xl-talla{
    grid-column: 5/6;
    grid-row: 1/2;
}
.ancho{
    grid-column: 1/2;
    grid-row: 2/3;
}
.largo{
    grid-column: 1/2;
    grid-row: 3/4;  
}
.manga{
    grid-column: 1/2;
    grid-row: 4/5;
}
p.guia-p{
    margin: 50px 0;
    text-align: center;
}
.cuidados{
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 0.6px solid #000000;
}
p.cuidados-p{
    margin: 50px 0;
    text-align: center;
}
ul.lista-cuidados{
    margin: 30px 30px;
    list-style-position: disc;
    list-style-position: inside;
}
ul.lista-cuidados li{
    font-size: 1.9rem;

}
ul.lista-cuidados li::marker{
    font-size: 1rem;
}
.info-felicite{
    position: relative;
    display: block;
    margin-top: 100px;
    border-top: 0.6px solid #000000;
}
p.titulo-info{
    margin-top: 60px;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 42px;
    text-align: center;
}
p.contact-info{
    margin: 30px auto;
    width: max-content;
    padding: 10px;
    font-size: 1.5rem;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #000000; 
}
p.contact-info:last-child{
    margin-bottom: 60px;
}
/*Preguntas frecuentes (preguntas.html)*/
.pregunta{
    margin-top: 50px;
    border-top: 0.6px solid #000000;
}
/*Contacto (contacto.html)*/
form{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    grid-template-rows: repeat(9, 50px);
    gap: 10px;
    margin: 80px 0;
    padding: 30px 10px;
    flex-direction: column;
    align-items: center;
    border: 0.6px solid #000000;
}
div.name,
div.email{
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}
div.msg{
    grid-row: 3/9;
    justify-self: center;
    align-self: flex-start;
    width: 100%;
    height: 100%;
}
input,
textarea{
    font-family: 'Poppins', sans-serif; 
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 0.5px solid #000000;
}
button{
    grid-row: 9/10;
    justify-self: center;
    align-self: center;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    padding: 4px 41px;
    border: none;
    outline: none;
    background-color: #000000;
    color: #ffffff;
}
input::placeholder,
textarea::placeholder{
    font-size: 1.5rem;
    color: #000000;
}
ul.lista-horario{
    margin: 30px 30px;
    list-style-position: disc;
    list-style-position: inside;
    text-align: center;
}
ul.lista-horario li{
    font-size: 1.9rem;
    line-height: 25px;
}
ul.lista-horario li::marker{
    font-size: 1rem;
}
p.direccion{
    margin: 30px;
    font-size: 1.9rem;
    text-align: center;
    line-height: 25px;
}



